.u-section-1 .u-sheet-1 {
  min-height: 506px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 60px;
  height: auto;
  min-height: 24px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 31px;
  width: 128px;
  margin: 77px auto 0;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 24px;
  margin-top: 77px;
  margin-bottom: 60px;
}